<div class="section-separator"></div>
<div class="about-us-section">
  <!-- Sección Nuestra Empresa -->
  <div class="section-header">
    <h2 class="title">QUIENES SOMOS</h2>
  </div>

  <div class="content">
    <div class="image-container">
      <img src="assets/images/about-of/about1.jpg" alt="Quienes somos" />
    </div>

    <div class="text-content" style="text-align: justify;">
      <p>
        Somos una Institución Académica en crecimiento, que presta servicios de tareas dirigidas y nivelación de conocimientos en las asignaturas principales que son: matemática, lengua y literatura, ciencias naturales y estudios sociales.
        <br><br>
        C.A.M.E. fue constituida en la ciudad de Riobamba el 5 de Abril del 2022 por la Eco. Carla Pamela Quishpe Gualán con la finalidad de brindar apoyo escolar a estudiantes de básica elemental (segundo, tercer y cuarto grado de primaria), básica media (quinto, sexto, séptimo grado de primaria), básica superior ( octavo, noveno y décimo grado) y bachillerato
      </p>
    </div>
  </div>

  <!-- Sección Misión y Visión -->
  <div class="mission-vision">
    <h3>MISIÓN Y VISIÓN</h3>
    <p class="subtitle">C.A.M.E.</p>

    <div class="details">
      <div class="mission">
        <h4>MISIÓN</h4>
        <p style="text-align: justify;">
          Brindar servicios de apoyo escolar y nivelación de conocimientos académicos que satisfagan las necesidades academicas y adquieran seguridad al momento de poner en prática los conocimientos en cada una de sus instituciones educativas.
        </p>
      </div>
      <div class="vision">
        <h4>VISIÓN</h4>
        <p style="text-align: justify;">
          Convertirnos en una Institución Académica líder, que sea capaz de expandirse en distintas ciudades del país, para yudar a muchos estudiantes en su rendimiento académico, en cada una de sus instituciones educativas.
        </p>
      </div>
    </div>
  </div>
</div>
