

<section class="contact-section">
  <div class="container">
    <h2 class="section-title">Contáctanos</h2>
    <div class="contact-info">
      <div class="info-box">
        <div class="icon-circle">
          <i class="fas fa-mobile-alt"></i>
        </div>
        <p><b>Teléfono:</b> (+593) 983 033 547</p>
        <p> (+593) 984 111 628</p>
        <!-- <p>Lunes a Viernes (9am-5pm)</p> -->
      </div>
      <div class="info-box">
        <div class="icon-circle">
          <i class="fas fa-envelope"></i>
        </div>
        <p><b>Correo:</b> cameapoyoescolar&#64;gmail.com</p>
        <p><b>Web:</b> www.came.softcodi.com</p>
      </div>
      <div class="info-box">
        <div class="icon-circle">
          <i class="fas fa-map-marker-alt"></i>
        </div>
        <p><b>Dirección:</b> Barrio Divino Niño Manzana. 31B - Bloque 4</p>
        <p>Sector sur más arriba del barrio Caupicho</p>
        <p><b>QUITO - ECUADOR</b></p>
      </div>
    </div>

    <div class="map-and-form">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d838.7419286655883!2d-78.52628095153541!3d-0.3316585096584011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d5a390ecc6c187%3A0xd5f479796ae7699b!2sConjunto%20divino%20ni%C3%B1o%20manzana%2025!5e0!3m2!1ses!2sec!4v1736847895379!5m2!1ses!2sec"
        width="100%"
        height="300"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

      <form class="contact-form">
        <input type="text" placeholder="Tu Nombre" class="form-control" />
        <input type="email" placeholder="Tu Correo" class="form-control" />
        <input type="text" placeholder="Asunto" class="form-control" />
        <textarea placeholder="Mensaje" class="form-control"></textarea>
        <button type="submit" class="btn-submit">Enviar Mensaje</button>
      </form>
    </div>

    <!-- Nueva sección de redes sociales -->
    <div class="social-icons">
      <a href="https://facebook.com" target="_blank" class="icon facebook"><i
          class="fab fa-facebook-f"></i></a>
      <a href="https://tiktok.com" target="_blank" class="icon tiktok"><i
          class="fab fa-tiktok"></i></a>
      <a href="https://instagram.com" target="_blank" class="icon instagram"><i
          class="fab fa-instagram"></i></a>
      <a href="https://youtube.com" target="_blank" class="icon youtube"><i
          class="fab fa-youtube"></i></a>
    </div>

  </div>
</section>
