<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <!-- Columna 1: Logo e información breve -->
    <div class="footer-column">
      <img src="assets/images/logos/logo4.png" alt="Logo" class="footer-logo" />
      <!-- <p class="footer-description">
          Somos una empresa de consultoría estratégica que presta servicios de alta calidad.
        </p> -->
      <p class="footer-copyright">
        © 2022 C.A.M.E. All rights reserved. <br />
        Desarrollado por <a href="https://softcodi.com/"
          style="color: #cccccc; text-decoration: none; font-weight: bold; font-size: 1rem;"
          target="_blank">SOFTCODI</a>
      </p>
    </div>

    <!-- Columna 2: Información de contacto -->
    <div class="footer-column">
      <h3 class="footer-title">Información Contacto</h3>
      <p><strong>Dirección:</strong> Barrio Divino Niño Manzana. 31B - Bloque 4 <br />Sector sur más arriba del barrio Caupicho<br />Quito - Ecuador</p>
      <p><strong>Teléfono:</strong> (+593) 983 033 547<br />(+593) 984 111 628</p>
      <p><strong>E-mail:</strong> cameapoyoescolar&#64;gmail.com<br /><strong>Web:</strong> www.came.softcodi.com</p>
    </div>

    <!-- Columna 3: Menú -->
    <div class="footer-column">
      <h3 class="footer-title">Servicios</h3>
      <ul class="footer-menu">
        <li><a href="#">Acompañamiento Escolar</a></li>
        <li><a href="#">Nivelación Académica</a></li>
        <li><a href="#">Proyectos Escolares</a></li>
        <li><a href="#">Asesoría de Tesis</a></li>
        <li><a [routerLink]="['/login']" class="footer-link" style="color:#d97b00; font-weight: bolder; text-decoration: underline;">Login</a></li>
      </ul>
    </div>

    <!-- Columna 4: Síguenos -->
    <div class="footer-column">
      <h3 class="footer-title ft2">Síguenos</h3>
      <!-- <div class="social-icons">
        <a href="#"><img src="assets/icons/facebook.png" alt="Facebook" /></a>
          <a href="#"><img src="assets/icons/twitter.png" alt="Twitter" /></a>
          <a href="#"><img src="assets/icons/google.png" alt="Google+" /></a>
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      </div> -->
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank"
          class="social-icon facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://tiktok.com" target="_blank"
          class="social-icon tiktok">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://instagram.com" target="_blank"
          class="social-icon instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://youtube.com" target="_blank"
          class="social-icon youtube">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>

<!-- End Footer -->