<div class="section-separator"></div> <!-- Barra horizontal delgada -->

<div class="services-section">
  <div class="section-header">
    <h2 class="title">NUESTROS SERVICIOS</h2>
  </div>

  <div class="services-container">
    <!-- Tarjeta para Acompañamiento Escolar -->
    <div class="service-card">
      <div class="icon-container">
        <i class="fas fa-user-graduate"></i>
      </div>
      <h3>Acompañamiento Escolar</h3>
      <p>
        Apoyo constante y personalizado para los estudiantes en sus tareas y actividades académicas.
      </p>
      <button class="btn-more-info">Más información</button>
    </div>

    <!-- Tarjeta para Nivelación Académica -->
    <div class="service-card">
      <div class="icon-container">
        <i class="fas fa-book-open"></i>
      </div>
      <h3>Nivelación Académica</h3>
      <p>
        Refuerza los conocimientos de los estudiantes en diversas materias para alcanzar sus objetivos.
      </p>
      <button class="btn-more-info">Más información</button>
    </div>

    <!-- Tarjeta para Proyectos Escolares -->
    <div class="service-card">
      <div class="icon-container">
        <i class="fas fa-lightbulb"></i>
      </div>
      <h3>Proyectos Escolares</h3>
      <p>
        Asesoramiento y desarrollo de proyectos escolares creativos y de alto impacto académico.
      </p>
      <br>
      <button class="btn-more-info">Más información</button>
    </div>

    <!-- Tarjeta para Asesoría de Tesis -->
    <div class="service-card">
      <div class="icon-container">
        <i class="fas fa-scroll"></i>
      </div>
      <h3>Asesoría de Tesis</h3>
      <br>
      <p>
        Guía experta para la elaboración de tesis y proyectos de investigación de manera eficiente.
      </p>
      <button class="btn-more-info">Más información</button>
    </div>
  </div>
</div>
