<section>
    <app-navbar></app-navbar>
</section>
<section>
    <app-slider></app-slider>
</section>
<section>
    <app-about-of id="about-of"></app-about-of>
</section>
<section>
    <app-our-services></app-our-services>
</section>
<section>
    <app-team id="team"></app-team>
</section>
<section>
    <app-contacts id="contacts"></app-contacts>
</section>
<section>
    <app-footer></app-footer>
</section>
<!-- Button WhatsApp -->
<a href="https://wa.me/593983033547" target="_blank" class="whatsapp-float" aria-label="Chatea con nosotros en WhatsApp"><i class="fab fa-whatsapp"></i></a>
<!-- End Button WhatsApp -->