<main class="main">
    <a routerLink="['/']">
        <header class="brand-home">

        </header>
    </a>
    <section class="content">
        <!-- <app-home></app-home> -->
        <router-outlet></router-outlet>
    </section>
</main>
<!-- <app-navbar></app-navbar>
<app-slider></app-slider>
<app-about-of id="about-of"></app-about-of>
<app-our-services></app-our-services>
<app-team id="team"></app-team>
<app-contacts id="contacts"></app-contacts>
<app-footer></app-footer> -->

<!-- Button WhatsApp -->
<!-- <a href="https://wa.me/593983033547" target="_blank" class="whatsapp-float" aria-label="Chatea con nosotros en WhatsApp"><i class="fab fa-whatsapp"></i></a> -->
<!-- End Button WhatsApp -->
